body {
    font-family: 'Lato', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.oc {
    color: orange;
}

.fc {
    display: flex;
    margin-bottom: 100px;
}

.info {
    margin: 5px 15px;
    padding-left: 10px;
}

.info img {
    height: 6in;
    /* height: 100%; */

}

.im {
    /* height: 100px; */
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(rgb(37, 37, 76), rgb(82, 51, 93));
    color: aliceblue;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 3px;
}

.info p {
    font-weight: 400;
    margin-bottom: 25px;
}

.tb {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.db {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 15px 5px 15px gray;
    border-left: 5px solid red;
}

.ex {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.ex2 {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}